@charset "UTF-8"

body {
    background-color: rgb(37, 37, 37);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(0, 0, 5);
    background-color: lightblue;
}

h2 {
    color: darkred;
}